[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
EnvironmentFile=/etc/tomcat9/tomcat9.conf
Type=forking

ExecStart=/usr/libexec/tomcat9/startup.sh
ExecStop=/usr/libexec/tomcat9/shutdown.sh
SuccessExitStatus=143

User=tomcat9
Group=tomcat9

[Install]
WantedBy=multi-user.target
